<html>
    <head>
        <Title>Senha Incorreta</Title>
        <Script>
            confirm("Senha Incorreta")
            window.location.replace("/room/<%= roomId %>")
        </Script>
    </head>
</html>